
//
// VARIABLES
//

// Colors
$blue: #4183C4;

//Evan's custom colors
$ec_darkred: #b30000;
$ec_lightred: #e60000;

$ec_darkorange: #cc5200;
$ec_lightorange: #ff9900;

$ec_lightyellow: #ffcc00;
$ec_darkyellow: #b38600;

$ec_darkgreen: #004d00;
$ec_lightgreen: #00b300;

$ec_darkblue: #000080;
$ec_lightblue: #0059b3;

$ec_darkpurple: #660066;
$ec_lightpurple: #e60073;

$ec_darkteal: #002533;
$ec_lightteal: #00a8e6;

$ec_darkgray: #595959;
$ec_lightgray: #e6e6e6;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
